In [2]:
import pandas as pd
import numpy as py
import os

In [3]:
header_names=['Radek','Ident','Popis','Pocet','Zbytek']  # Pridany nazvy sloupcu
seznam_h=pd.read_csv("123456789.csv", header=None,skiprows=1,names=header_names) # Precteni a pridani nazvu sloupcu

In [4]:
standart_1= pd.DataFrame(
    {
        'Radek':[50,49,48,47,46,45,44],
        'Ident':['R900029707','R900029708',"R900022320","R900029705",'R900764645','R900763447','R900763363'],
        'Popis':['UNION NUT          24N/30S-ST3Z00Z','UNION NUT          24N/25S-ST3Z00Z','UNION NUT          24N/20S-ST3Z00Z','UNION NUT          24N-12S-ST3Z00Z','UNION              24T-Z-S-25S-ST3Z00Z','UNION              24S-Z-S-25S-ST3Z00Z','UNION              24S-Z-S-12S-ST3Z00Z'],
        'Pocet':[1,23,4,10,2,5,1],
        'Zbytek':[0,0,0,0,0,0,0],
        
    }
)

nestandart_1= pd.DataFrame(
    {
        'Radek':[34,33,32,31,30,29,28],
        'Ident':['R900762691','R900022325',"R900763043",'R900763042','R900763041','R900762689','R900762682'],
        'Popis':['MALE CONNECTOR     24SDS-E-S-25S-G1-ST3F00Z','MALE CONNECTOR     24SDS-E-S-25S-G1-ST3F00Z','MALE CONNECTOR     24SDS-E-S-20S-M27X2-ST3F00Z','MALE CONNECTOR     24SDS-E-S-20S-M27X2-ST3F00Z','MALE CONNECTOR     24SDS-E-S-12S-M18X1 5-ST3F00Z','MALE CONNECTOR     24SDS-E-S-12S-M18X1 5-ST3F00Z','MALE CONNECTOR     24SDS-E-S-12S-G3/8-ST3F00Z'],
        'Pocet':[1,1,1,1,1,1,4,],
        'Zbytek':[0,0,0,0,0,0,0]
    }
)

In [5]:
seznam_h_bez_duplicit = seznam_h.drop_duplicates(subset='Popis')

In [6]:
#seznam_h_bez_duplicit= seznam_h.add_prefix("123456789_")
standart_1 = standart_1.add_prefix("Standart_")
nestandart_1 = nestandart_1.add_prefix("Nestandart_")

In [7]:

vedle_sebe_s = pd.merge(seznam_h_bez_duplicit,standart_1,how='outer',left_on='Ident',right_on='Standart_Ident')

def srovnani_s(df):
    if df['Ident'] == df['Standart_Ident']:
          return 1
    else:
          return 0

In [8]:

vedle_sebe_s['jine_srovnani']=vedle_sebe_s.apply(srovnani_s,axis=1) #vlozeni sloupce 'Jine_srovnani" dle Identu
#vedle_sebe_s[vedle_sebe_s['jine_srovnani'] == 1] #Vypis hodnot dle ==1 a sloupce srovnani

In [9]:
uprava=vedle_sebe_s[['Radek','Ident','Popis','Pocet','Zbytek','jine_srovnani']] # vypis jen konkretnich sloupcu
uprava[['jine_srovnani']]==1 # vypis hodnoty True and False, dle hodnoty

    jine_srovnani
0            True
1            True
2            True
3            True
4            True
5            True
6            True
7           False
8           False
9           False
10          False
11          False
12          False
13          False
14          False
15          False
16          False
17          False
18          False
19          False
20          False
21          False
22          False
23          False
24          False
25          False

In [10]:

seznam_s_1=uprava[uprava["jine_srovnani"]==0] #vypis cele tabulky dle ==0, pridanim  .index na konec vypise v radku cisla radku kterych se tyka
seznam_s_2=uprava[uprava["jine_srovnani"]==1] #vypis cele tabulky dle ==1, pridanim  .index na konec vypise v radku cisla radku kterych se tyka

In [11]:
seznam_s_1

,Radek,Ident,Popis,Pocet,Zbytek,jine_srovnani
7,43,R900765441,REDUCTION THREADED 24RDSW-Z-S-25S-20S-ST3F00Z,1,NaN,0
8,42,NaN,REDUCTION THREADED 24RDSW-Z-S-25S-20S-S&,1,NaN,0
9,40,NaN,REDUCTION THREADED 24RDSW-Z-S-25S-12S-S&,1,NaN,0
10,21,NaN,ADJUSTABLE CONNECT 24SWOE-Z-S-25S-ST3F0&,1,NaN,0
11,19,NaN,ADJUSTABLE CONNECT 24SWOE-Z-S-20S-ST3F0&,1,NaN,0
12,17,NaN,ADJUSTABLE CONNECT 24SWOE-Z-S-12S-ST3F0&,2,NaN,0
13,41,R900765439,REDUCTION THREADED 24RDSW-Z-S-25S-12S-ST3F00Z,1,NaN,0
14,39,R901310672,REDUCTION THREADED 24-S-S30-S25/0712912000,1,NaN,0
15,38,R900763044,MALE CONNECTOR 24SDS-E-S-25S-M33X2-ST3F00Z,2,NaN,0
16,36,R900767715,MALE CONNECTOR 24SDS-E-S-25S-G3/4-ST3F00Z,2,NaN,0
17,34,R900762691,MALE CONNECTOR 24SDS-E-S-25S-G1-ST3F00Z,1,NaN,0
18,32,R900763043,MALE CONNECTOR 24SDS-E-S-20S-M27X2-ST3F00Z,1,NaN,0
19,30,R900763041,MALE CONNECTOR 24SDS-E-S-12S-M18X1 5-ST3F0...,1,NaN,0
20,28,R900762682,MALE CONNECTOR 24SDS-E-S-12S-G3/8-ST3F00Z,4,NaN,0
21,26,R901331136,MALE CONNECTOR 24SDS-E-S-12S-G1/4-ST3F00Z,1,NaN,0
22,24,R900766418,ADJUSTABLE CONNECT 24SWORT-Z-S-25S-ST3F00Z,1,NaN,0
23,22,R900766219,ADJUSTABLE CONNECT 24SWOE-Z-S-25S-ST3F00Z,1,NaN,0
24,20,R900766218,ADJUSTABLE CONNECT 24SWOE-Z-S-20S-ST3F00Z,1,NaN,0
25,18,R900766216,ADJUSTABLE CONNECT 24SWOE-Z-S-12S-ST3F00Z,2,NaN,0

In [12]:
seznam_s_2

,Radek,Ident,Popis,Pocet,Zbytek,jine_srovnani
0,50,R900029707,UNION NUT 24N/30S-ST3Z00Z,1,NaN,1
1,49,R900029708,UNION NUT 24N/25S-ST3Z00Z,23,NaN,1
2,48,R900022320,UNION NUT 24N/20S-ST3Z00Z,4,NaN,1
3,47,R900029705,UNION NUT 24N-12S-ST3Z00Z,10,NaN,1
4,46,R900764645,UNION 24T-Z-S-25S-ST3Z00Z,2,NaN,1
5,45,R900763447,UNION 24S-Z-S-25S-ST3Z00Z,5,NaN,1
6,44,R900763363,UNION 24S-Z-S-12S-ST3Z00Z,1,NaN,1

In [13]:
#########################################   Druha cast kodu ###############################

In [14]:
vedle_sebe_n = pd.merge(seznam_s_1,nestandart_1,how='outer',left_on='Ident',right_on='Nestandart_Ident')

def srovnani_n(df):
    if df['Ident'] == df['Nestandart_Ident']:
          return 1
    else:
          return 0

In [15]:
vedle_sebe_n['porovnani']=vedle_sebe_n.apply(srovnani_n,axis=1) #vlozeni sloupce 'Jine_srovnani" dle Identu
vedle_sebe_n[vedle_sebe_n['porovnani'] == 1] #Vypis hodnot dle ==1 a sloupce srovnani

,Radek,Ident,Popis,Pocet,Zbytek,jine_srovnani,Nestandart_Radek,Nestandart_Ident,Nestandart_Popis,Nestandart_Pocet,Nestandart_Zbytek,porovnani
10,34.0,R900762691,MALE CONNECTOR 24SDS-E-S-25S-G1-ST3F00Z,1.0,NaN,0.0,34.0,R900762691,MALE CONNECTOR 24SDS-E-S-25S-G1-ST3F00Z,1.0,0.0,1
11,32.0,R900763043,MALE CONNECTOR 24SDS-E-S-20S-M27X2-ST3F00Z,1.0,NaN,0.0,32.0,R900763043,MALE CONNECTOR 24SDS-E-S-20S-M27X2-ST3F00Z,1.0,0.0,1
12,30.0,R900763041,MALE CONNECTOR 24SDS-E-S-12S-M18X1 5-ST3F0...,1.0,NaN,0.0,30.0,R900763041,MALE CONNECTOR 24SDS-E-S-12S-M18X1 5-ST3F00Z,1.0,0.0,1
13,28.0,R900762682,MALE CONNECTOR 24SDS-E-S-12S-G3/8-ST3F00Z,4.0,NaN,0.0,28.0,R900762682,MALE CONNECTOR 24SDS-E-S-12S-G3/8-ST3F00Z,4.0,0.0,1

In [16]:
uprava2=vedle_sebe_n[['Radek','Ident','Popis','Pocet','Zbytek','porovnani']] # vypis jen konkretnich sloupcu
uprava2[['porovnani']]==1 # vypis hodnoty True and False, dle hodnoty

    porovnani
0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10       True
11       True
12       True
13       True
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False

In [17]:

seznam_s_3=uprava2[uprava2["porovnani"]==0] #vypis cele tabulky dle ==0, pridanim  .index na konec vypise v radku cisla radku kterych se tyka
seznam_s_4=uprava2[uprava2["porovnani"]==1] #vypis cele tabulky dle ==0, pridanim  .index na konec vypise v radku cisla radku kterych se tyka

In [18]:
######################################## Odstranenni duplicit ################################

In [19]:
seznam_s_3_bez_duplicit = seznam_s_3.drop_duplicates(subset='Radek')

In [25]:
seznam_s_3_bez_duplicit

,Radek,Ident,Popis,Pocet,Zbytek,porovnani
0,43.0,R900765441,REDUCTION THREADED 24RDSW-Z-S-25S-20S-ST3F00Z,1.0,NaN,0
1,42.0,NaN,REDUCTION THREADED 24RDSW-Z-S-25S-20S-S&,1.0,NaN,0
2,40.0,NaN,REDUCTION THREADED 24RDSW-Z-S-25S-12S-S&,1.0,NaN,0
3,21.0,NaN,ADJUSTABLE CONNECT 24SWOE-Z-S-25S-ST3F0&,1.0,NaN,0
4,19.0,NaN,ADJUSTABLE CONNECT 24SWOE-Z-S-20S-ST3F0&,1.0,NaN,0
5,17.0,NaN,ADJUSTABLE CONNECT 24SWOE-Z-S-12S-ST3F0&,2.0,NaN,0
6,41.0,R900765439,REDUCTION THREADED 24RDSW-Z-S-25S-12S-ST3F00Z,1.0,NaN,0
7,39.0,R901310672,REDUCTION THREADED 24-S-S30-S25/0712912000,1.0,NaN,0
8,38.0,R900763044,MALE CONNECTOR 24SDS-E-S-25S-M33X2-ST3F00Z,2.0,NaN,0
9,36.0,R900767715,MALE CONNECTOR 24SDS-E-S-25S-G3/4-ST3F00Z,2.0,NaN,0
14,26.0,R901331136,MALE CONNECTOR 24SDS-E-S-12S-G1/4-ST3F00Z,1.0,NaN,0
15,24.0,R900766418,ADJUSTABLE CONNECT 24SWORT-Z-S-25S-ST3F00Z,1.0,NaN,0
16,22.0,R900766219,ADJUSTABLE CONNECT 24SWOE-Z-S-25S-ST3F00Z,1.0,NaN,0
17,20.0,R900766218,ADJUSTABLE CONNECT 24SWOE-Z-S-20S-ST3F00Z,1.0,NaN,0
18,18.0,R900766216,ADJUSTABLE CONNECT 24SWOE-Z-S-12S-ST3F00Z,2.0,NaN,0
19,NaN,NaN,NaN,NaN,NaN,0

In [28]:
with pd.ExcelWriter(r'C:\Users\Tom\Documents\Tutorials\Handlatool\Multisheet.xlsx')as writer:
#with pd.ExcelWriter(r'C:/Users/kot5brn/Documents\Multisheet.xlsx')as writer:
    seznam_s_2.to_excel(writer,sheet_name='Standart')
    seznam_s_4.to_excel(writer,sheet_name='Nestandart')
    seznam_s_3_bez_duplicit.to_excel(writer,sheet_name='Atyp')

In [ ]:
os.system('start "excel" C:/Users/kot5brn/Documents\Multisheet.xlsx"')  #doplneni funkce automatoickeho otevreni exelu po vytvoreni excelu